*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(13, 1, 1);
    color: rgb(222, 214, 214);
    padding: 20px 40px ;
     font-family: "Open Sans", sans-serif;

}
ul{
    display: flex;
    justify-content: center;
    gap: 25px;
    text-decoration: none;
    list-style: none;
text-align: center;
}
.hero{
    background-color:rgb(13, 1, 1) ;
    color:  rgb(222, 214, 214); 
    
    
}
.flex{
 display: flex;

}
.spacer{
    justify-content: space-between;
}
.container{
   width: 800px;
   margin: auto;
    font-family: "Open Sans", sans-serif;
}
.content{
    display: block;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
}
.content h2{
    margin-bottom: 10px;
}
.content p {
    margin-bottom: 30px;
}
.btn{
    background-color: white;
    color: black;
    border-radius: 15px;
    text-decoration: none;
    padding: 14px 20px; 
    margin-top: 30px;
}
.services{
    padding: 100px 0;
    margin-bottom: 60px;
     font-family: "Open Sans", sans-serif;
}
.container1{
    width: 900px;
    margin: auto;
}
.contenu{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    text-align: center;
    margin-top: 50px;
}
.svr{
    width: 200px;
}
.svr img{
    width: 100px;
    height: 100px;   
}
.container1 h2{
    text-align: center;
    font-weight: bold;
}
.logos{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 50px 0;
}
.réalisations{
     font-family: "Open Sans", sans-serif;
     text-align: center;

}
.container3 h2{
    text-align: center;
    font-weight: bold;
      margin-bottom: 60px;
       margin-top: 25px;
       align-items: center;

}
.rea{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;
   
}

.hero1{
    width: 350px;
    text-align: left;
    margin-bottom: 10px;
}
.hero1 img{
    width: 250px;
    height: auto;
    
}
.témoignages{
    background-color: white;
    text-align: center;
    padding: 80px 0;
}
.avis{
    display: flex;
     justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}
.tem{
     width: 350px;
    text-align: center;
    margin-bottom: 10px;
    background-color:rgb(237, 237, 237);
    gap: 5px;
}
.tem h3{
    text-align: center;
    margin-bottom: 10px;
    align-items: center;
    padding-top: 40px;
    margin: 0;
}
.tem p {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 15px;
    align-items: center;
}
.container4 h2{
    text-align: center;
    font-weight: bold;
      margin-bottom: 60px;
       margin-top: 25px;
       align-items: center;
}
.avis p{
    margin-bottom: 80px;
    margin-top: 25px;
}
.noms img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.footer{
    background-color: black;
    color: white;
    align-items: center;
    padding: 60px 0;
}
.photoetoile{
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    margin-top: 10px;
    width: 100%;
}



